@typeparam TItem
@typeparam TValue
@typeparam TDisplay

<select class="form-control" @bind="@SelectedValue" size="@Size">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    @if( Items != null)
    {
        foreach (TItem item in Items)
        {
            bool isSelected = item?.Equals(Selected) ?? false;
            <option value="@ValueSelector(item)" selected="@isSelected">@DisplaySelector(item)</option>
        }
    }
</select>
