@typeparam TItem
@typeparam TValue
@typeparam TDisplay

<select class="form-control" @bind="@SelectedValue" size="@Size">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    @if (ValueSelector != null && DisplaySelector != null)
    {
        if (Items != null)
        {
            foreach (var item in Items)
            {
                bool isSelected = item?.Equals(Selected) == true;
                <option value="@ValueSelector(item)" selected="@isSelected">@DisplaySelector(item)</option>
            }
        }
    }
</select>
